.joke div {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
  
  .joke span {
    font-size: 1.5rem;
  }
  
  .joke button {
    margin: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    background-color: #8B5CF6;
    color: white;
    cursor: pointer;
  }